.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.delete-img {
  height: 30%;
  width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.to-center{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 9999999999999999999999999;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.session-expire-cls{
  width: 30% !important;
  margin-left: 35%;
}

.top-3pres{
  padding-top: 3%;
}

.top-5pres{
  padding-top: 5%;
}

.width-30{
  width: 30%;
}

.MTableToolbar-searchField-129 {
  min-width: 150px;
  padding-left: 16px;
  width: 30% !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-password{
  width: 40%;
  margin: 0 auto;
}

.mtc-5{
  margin-top: 5% !important;
}

.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
   position: unset !important;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

